<!DOCTYPE html>

Top main

<!-- BEGIN=tbl pyfmt=true -->
<table>
  <caption>List of $category </caption>
  <!-- BEGIN=row -->
    <tr><td>Name: $name}</td><td>Color: $color </td></tr>
    <!-- END=row -->
</table>
<!-- END=tbl -->

<!-- BEGIN=tbl_complex -->
<table>
  <caption>Battery Voltages</caption>
  <!-- BEGIN=row_complex -->
    <tr>
    <!-- BEGIN=cell_complex --><td>Battery $cell_id:$cell_volt</td><!-- END=cell_complex -->
    </tr>
    <!-- END=row_complex -->
</table>
<!-- END=tbl_complex -->


<ul>
<!-- BEGIN=user_sec -->
<li> $username
<!-- END=user_sec -->
</ul>


<!-- BEGIN=admin -->
Admin
<!-- END=admin -->

<!-- BEGIN=ftr -->
Ftr
<!-- END=ftr -->
Bottom main
